/* BLOCKS INDEX*/

@media only screen and (max-width: 1000px) {
    #me {
       height: 500Px;
    }
    a{
        font-size: 20px;

    }
    .banner-text{
        font-size: 15px;
        margin-left: 700px;

    }
    .logo{
        width: 100%;
    }
    #footer-text{
        font-size: 40Px;
        margin-left: 70px;

    }
    footer{
        height: 50px;
    }
    #sender{
        font-size: 40px;
        margin-right: 40Px;
    }
  }
/* BLOCKS INDEX*/


@media only screen and (max-width: 1000px) {
    #game{
        position:relative;

    height: 300px;
    margin-left: -470px;
    margin-top: 10px;
  
  
    
        
    }
  }
  
  @media only screen and (max-width: 1000px) {
    
  .strip{
    margin-left: 150px;
    height: 400px;
    width: 600px;
  }
  #stripT{
    position: relative;
    margin-top: 150Px;
    float: none;
    margin-left: 130px;
    width: 700px;
  }
    
        
    
  }











