*{
    margin: 0;
    padding: 0;
}

.banner{
    width: 100%;
    height:300px;
    position: relative;
}
.banner-text{
    position:absolute;
   margin-top: -200px;
   margin-left: 900px;
    color: white;
    font-size: 20px;
    

}

#navhome{
    position: absolute;
    margin-top: -10px;
    background-color:#0000ae;
    width: 100%;
    
}
.navlinks{
    margin-left: 50px;
    color: white;
    font-size: 30px;
    font-style:monospace ;
    text-decoration: none;
    
    
}
body{
    background-color: #EBEBEB;
}


article{
 background-color: white;
 width: 40%;
 font-size: 20px;
 margin-left: 4%;
 margin-top: 30px;
 border: 1px solid #0000ae;
 padding: 2%;
 margin-bottom: 20px;


}

#MDJT{
    font-size: 22px;
}
#titelblog{
 margin-left: 60px;
}
footer {

   padding-bottom: 0%;
   bottom: 0%;
   width: 100%;
   background-color:#0000ae;
   color: white;
   height: 30px;
}
#sender{
    
    float: right;
    float: inline-end;
    font-size: 20px;
    margin-right: 10;
    color: white;
    text-decoration: none;
}
#bloglinks{
    position: relative;
    color: black;
    text-decoration: none;
    font-weight: bold;

}



#stripT{
    position: absolute;
    margin-left: 55%;
    margin-top: -550px;

}
#blog2{
    width: 55%;
    margin-top: 50px;
}
    