
#me {
    
    
    height: 600px;
    float: right;
   margin-top: 100px;
   position:relative;
   
    
    }

#game{
    position: absolute;
    left: 55%;
    height: 400px;
    margin-right: 100px;
    margin-top: -200px;
    border: 2px solid #0000ae ;

}
#strip{
    height: 300px;
}
img{
    height:100px
}
#chatbot{
    position: absolute;
    left: 60%;
    top: 350Px;
    height: 200px;
}
#siri{
    position: absolute;
    left: 60%;
    top: 555Px;
    height: 250px;
}
#snap{
    position: absolute;
    left: 60%;
    top: 810Px;
    height: 250px;
    
}
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    height: 110%;
    
    margin-top: -50px;

}
.strip {
    padding: 30px;
}
.slider-wrapper{
    position:relative;
    width: 640px;
    margin-bottom: 200px;
    margin-top: 70px;
    
    
 
    
}
.slider{
    display:flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 10px 48px -12px hsla(0, 0%,0%,0.25);
    border-radius: 10px;
}

.stripnav{
     display:flex;
     column-gap: 16px;
     position: absolute;
     bottom: 20px;
     left: 50%;
     transform: translateX(-50%);
     z-index: 1;
}
.stripnav a{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:#0000ae;
    opacity: 0.75;
    transition: opacity ease 250ms;

}
.stripnav a:hover{
    opacity: 1;

}